node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

/dist/
**/dist/
coverage/
.nyc_output/

.env
**/.env

.DS_Store
Thumbs.db
.vscode/
.idea/

.cache/
*.tsbuildinfo

logs/
